# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Artur\Desktop\ca Bilder\StoragePassword\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea
*.iws
*.iml
*.ipr

*.class
/out/